@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Karla", sans-serif !important;
  background: #ffffff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}
